.noticeboard-list.accordion-list {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    list-style: none;
    cursor: pointer;
    margin-bottom: 15px;
}
.noticeboard-list.accordion-list li {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding: 10px;
    margin: 0 auto 15px auto;
    border: 1px solid var(--ot-primary-border);
    border-radius: 5px;
    cursor: pointer;
}
.noticeboard-list.accordion-list li.active h3:after {
    transform: rotate(45deg);
}
.noticeboard-list.accordion-list li h3 {
    font-weight: 700;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 15px;
    letter-spacing: 0.01em;
    cursor: pointer;
}
.noticeboard-list.accordion-list li h3:after {
    content: "";
    font-family: "material-design-iconic-font";
    position: absolute;
    right: 0;
    top: 0;
    color: #fcc110;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
}
.noticeboard-list.accordion-list li div.answer {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.noticeboard-list.accordion-list li div.answer p {
    position: relative;
    display: block;
    font-weight: 300;
    padding: 10px 0 0 0;
    cursor: pointer;
    line-height: 150%;
    margin: 0 0 15px 0;
    font-size: 14px;
}
.make_rating {
    cursor: pointer;
}
#stars .hover {
    color: #fcc110;
}
.responsive-iframe-parent iframe {
    height: auto;
}

.responsive-iframe-parent {
    max-width: 100%;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
}

.responsive-iframe-parent iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Book  mark */
.bookmark-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #dddd;
    width: 25px;
    height: 25px;
    line-height: 27px;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.bookmark-wrapper i {
    color: var(--ot-primary);
}
.bookmark-wrapper.active {
    background: var(--ot-primary);
}
.bookmark-wrapper.active i {
    color: var(--white);
}
/* end */

.modal-wrapper {
    z-index: 9999;
}

.boostrap-modal .close-icon {
    z-index: 10;
    cursor: pointer;
    background: var(--ot-primary);
    color: #ffffff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
    background-image: none;
    opacity: 1;
    border: 0;
    position: absolute;
    right: -7px;
    top: -21px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);

    border: 0;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.boostrap-modal .close-icon:hover {
    background: #fd2f73;
    color: white;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.boostrap-modal .modal-content {
    padding: 28px;
    padding-top: 40px !important;
}

@media (max-width: 767px) {
    .boostrap-modal .modal-content {
        padding: 10px 20px;
    }
}

.single-dashboard-card.single-dashboard-card2.payment_default {
    border: 1px solid #3cc13b;
}
.single-dashboard-card.single-dashboard-card2 .edit {
    position: absolute;
    right: 5px;
    top: 0px;
    cursor: pointer;
    padding: 5px;
}
.remember-checkbox .ot-checkmark.radio {
    border-radius: 100%;
}

/* Action Button */

.action-success {
    background: #3cc13b2b;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
.action-success i {
    color: #3cc13b !important;
    font-size: 14px !important;
    top: 0 !important;
}

.action-danger {
    background: rgb(249 79 79 / 9%);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
.action-danger i {
    color: rgb(249 79 79);
    font-size: 14px;
}

.action-primary {
    background: #5b58ff21;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
.action-primary i {
    color: #5b58ff;
    font-size: 15px;
}

.action-secondary {
    background: var(--ot-secondary);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
.action-secondary i {
    color: var(--white);
    font-size: 15px;
}

.action-tertiary {
    background: #f0783c26;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
.action-tertiary i {
    color: #f0783c;
    font-size: 15px;
}

.status-badge {
    padding: 9px 11px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    text-transform: capitalize;
}

.status-success {
    background: rgba(60, 193, 59, 0.1);
    color: #3cc13b;
}
.status-pending {
    background: rgba(255, 193, 7, 0.1);
    color: #ffc107;
}
.status-danger {
    background: rgba(249, 79, 79, 0.1);
    color: #f94f4f;
}
.status-primary {
    background: rgba(91, 88, 255, 0.1);
    color: #5b58ff;
}
.status-secondary {
    background: rgba(0, 0, 0, 0.1);
    color: #000000;
}
.status-warning {
    background: rgba(240, 120, 60, 0.1);
    color: #f0783c;
}

li.list.has-children.open.show {
    display: block;
}

li.list.has-children {
    display: block;
}

.nice-scrolls::-webkit-scrollbar {
    width: 3px !important;
    border: 0 !important;
}
.nice-scrolls::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(242, 242, 242, 0.3);
}

.nice-scrolls::-webkit-scrollbar-thumb {
    background-color: rgba(var(--ot-primary-rgb), 0.2) !important;
    width: 3px !important;
    border: 0 !important;
}
.daterangepicker select.yearselect {
    width: 50%;
}

/* Ai CSS start */

.main {
    overflow: hidden;
    display: flex;
    max-height: 600px;
    min-height: 600px;
    background-color: var(--panel-bg);
    background-color: rgba(var(--ot-primary-rgb), 0.05);
    border-radius: 6px;
    border: 1px solid var(--ot-secondary-border);
}
body.dark-mode .main {
    background: var(--body);
}
.main__left {
    flex: 0.7;
    display: flex;
    flex-direction: column;
}
.options {
    padding: 1rem;
    display: flex;
    background-color: var(--main-darklg);
}

.options__left {
    display: flex;
}

.options__right {
    margin-left: auto;
}

.options__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ot-primary);
    height: 50px;
    border-radius: 5px;
    color: var(--white);
    font-size: 1.2rem;
    width: 50px;
    margin: 0 0.5rem;
    margin-right: 0;
}
.options__button i {
    color: #fff;
    font-size: 20px;
}
.background__red {
    background-color: #f6484a;
}

.main__right {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    width: 100%;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: scroll;
}

.main__chat_window::-webkit-scrollbar {
    display: none;
}

.main__message_container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.main__message_container > input {
    height: 50px;
    flex: 1;
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px 20px;
    border: 1px solid var(--ot-secondary-border);
    width: 100%;
}
.main__message_container > input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid var(--ot-primary-border);
}

.messages {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.message {
    display: flex;
    flex-direction: column;
}

@media (max-width: 992px) {
    .main {
        max-height: 400px;
        min-height: 400px;
    }
}
@media (max-width: 700px) {
    .main__left {
        width: 100%;
        flex: 1;
    }

    .messages {
        margin: 0;
    }

    #showChat {
        display: flex;
    }
}

.messages .sent {
    background: var(--ot-primary);
    border-radius: 15px 0px 5px 5px;
    float: right;
    color: #fff;
}

.sent {
    padding: 7px 16px;
    margin: 6px 10px;
    width: fit-content;
    align-self: flex-end;
    list-style: none;
}

.message {
    background-color: var(--white);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: fit-content;
    align-self: flex-start;
}

.main__right {
    top: 20px;
    position: relative;
    min-width: 100%;
    scroll-behavior: smooth;
    overflow: scroll;
}

/* reply message ai */
.ai-reply-message {
    margin-left: 25px;
}

.ai-reply-message .ai-message-list .ai-reply {
    border-radius: 0px 5px 15px 5px;
    padding: 3px 12px 6px 12px;
    float: left;
    margin-bottom: 15px;
    font-size: 16px;
    color: var(--ot-tertiary-title);
    background: #d4d4d4d6;
    margin-right: 35px;
    position: relative;
}

/* End-of Ai CSS start */

#error.invalid-feedback {
    display: inline-block;
}

/* End of ai chat */

.card.cursor {
    cursor: pointer;
}
/* .card.cursor {
	border: 1px solid var(--ot-primary-border);
} */

.card.cursor {
    display: inline-block;
}

.payment-content input {
    visibility: hidden;
    opacity: 0;
}
.card.cursor.payment-gateway-wrapper {
    margin-right: 12px;
}

.instractor-tab-widget .instractor-tab-widget-card .instractor-name {
    color: var(--ot-primary);
    font-weight: 600;
}
.instractor-tab-widget .instractor-tab-widget-card .instractor-designation {
    color: var(--ot-primary-title);
    font-size: 14px;
    font-weight: 600;
}

.custom-button {
    cursor: pointer;
    font-size: 22px;
    background: none;
    border: 0;
    padding: 6px 11px;
    color: var(--ot-tertiary-title);
    border: 1px solid transparent;
    font-weight: 500;
    border-radius: 6px;
    text-align: center;
    display: block;
}

/* terms-conditons */
.terms-conditons p {
    text-transform: sentence !important;
}
.pera {
    text-transform: sentence !important;
}
