.sidebar-wrapper{
    padding: 21px;
    border-radius: 8px;
    border: 1px solid var(--ot-primary-border);
    background: var(--white);
    @media #{$xs-to-md-max}{
        box-shadow:none;
        padding: 0;
        border-radius: 0px;
        border: none;
    }
}
.modal-body {
	background: var(--white);
}

.searching-course {
    // border-bottom: 1px solid var(--ot-primary-border);
    // padding-bottom: 16px;
}

.ot-filter-course {
    .accordion-collapse {
        &.show{
          // margin-bottom: 40px;
        }
    }
    .ot-checkbox-dropdown {
          position: relative;
          cursor: pointer;
          border: 0;
          .accordion-button:not(.collapsed) {
              background: transparent;
              padding: 0;
              box-shadow: none;
              padding-bottom: 16px;
              margin-bottom: 20px;
              padding-top: 0;
              &::after {
                margin-right: 0px;
              }
        }

        button {
            border-bottom: 1px solid var(--ot-primary-border);
            border-top-left-radius: none;
            border-top-right-radius: none;
            position: relative;
            margin: 0 auto;
            user-select: none;
            padding-bottom: 16px !important;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            text-transform: capitalize;
            color: var(--ot-tertiary-title);
            background: transparent ;
            &.accordion-button.collapsed {
                padding-left: 0px;
                margin-bottom: 20px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                padding-top: 0;

            }
            &::after {
                content: url(../images/courses/down.png);
                width: 0;
                margin-right: 0px;
            }
            .accordion-button.collapsed {
                border: 0 !important;
            }
        }
        .ot-checkbox-dropdown-list {
          position: relative;
          cursor: pointer;
          margin-bottom: 10px;

          li{
            margin-bottom: 3px;
          }
          label{
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              text-transform: capitalize;
              color: var(--ot-primary-paragraph);
              display: flex;
              align-items: center;
              padding: 7px 7px 7px 30px;
              position: relative;
              cursor: pointer;
          }
          .ot-checkbox {
              margin-right: 10px;
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
              &:checked ~ .ot-checkmark {
                background-color: var(--ot-primary);
                border-color: var(--ot-primary);
                &::after {
                  display: block;
                }
              }
          }
          .ot-checkmark {
              position: absolute;
              top: 7px;
              left: 0;
              width: 18px;
              height: 18px;
              line-height: 18px;
              border: 1px solid var(--ot-primary-border);
              margin-right: 10px;
              border-radius: 50%;
              &::after {
                content: url("../images/courses/tick.png");
                position: absolute;
                left: 0;
                top: -2px;
                display: none;
                right: 0;
                margin: 0 auto;
                text-align: center;
              }
          }
        }
    }
    .accordion-button:focus {
      box-shadow: none;
    }

    .sticky-icon {
      width: auto;
      height: 38px;
      font-weight: 500;
      border-radius: 6px;
      color: var(--ot-primary-paragraph);
      border: 1px solid var(--ot-primary-border);
      text-align: center;
      display: inline-block;
      padding: 4px 13px;
      font-size: 16px;
      cursor: pointer;
      line-height: 25px;
      i{
        margin-right: 5px;
      }
    }
    .responsive-bar {
      display: none !important;
    }
    @media #{$xs-to-md-max} {
      .responsive-bar {
        display: block !important;
      }
      .responsive-accordion {
        display: none;
      }
    }
    @media #{$xs} {
      .ot-search {
        max-width: 480px;
      }
      .ot-view-nav {
        display: none;
      }
    }
    @media screen and (max-width:473px) {
      .sorting-box{
        margin-top: 20px;
      }
    }
}

.search-box-style {
    position: relative;
    @media #{$xs-to-md-max} {
        width: 100%;
        margin-bottom: 10px;
    }
    .responsive-search-box {
        min-width: 800px;
        @media #{$xxl} {
            min-width: 829px;
        }
        @media #{$xl} {
            min-width: 650px;
        }
        @media #{$lg} {
            min-width: 450px;
        }
        @media #{$xs-to-md-max} {
            min-width: auto;
        }
    }
    .ot-search {
        width: 100%;
        padding: 5px 138px 5px 42px;
        background: #ffffff;
        border: 1px solid var(--ot-primary-border);
        border-radius: 8px;
        height: 45px;
        &::placeholder {
            color: var(--ot-parimary-title);
        }
        &:focus{
          border-color: var(--ot-primary);
        }
    }
    .search-icon {
        position: absolute;
        top: 50%;
        left: 17px;
        transform: translateY(-50%);
        font-size: 18px;
    }

    .search-btn{
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 44px;

        background: var(--ot-primary);
        color: var(--white);
        font-size: 16px;
        border-radius: 0 8px 8px 0px;
        border: 0;
        padding: 5px 34px;
        bottom: 0;
        line-height: 1;
        @media #{$xs}{
            height: 44px;
            font-size: 16px;
            border-radius: 0 8px 8px 0px;
            padding: 5px 16px;
        }
    }
}

// search-tab
.search-tab{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--ot-primary-border);
    border-radius: 8px;
    height: 46px;
    border: 1px solid var(--ot-primary-border);
    // margin-left:15px;
    // margin-right:15px;
    @media #{$xs-to-md-max} {
        margin: 10px 0px;
        height: auto;
    }
    .tab-btn{
        background: none;
        color: var(--ot-primary-paragraph);
        padding: 6px 14px;
        transition: 0.3s;
        cursor: pointer;
        border: 0;
        font-size: 16px;
        font-weight: 500;
        border-right: 1px solid var(--ot-primary-border);
        text-transform: capitalize;
        @media #{$xs}{
          font-size: 14px;
          padding: 6px 10px;
          border-right: 0;
        }
        @media #{$sm} {
          font-size: 13px;
        }
        i{
          font-size: 22px;
        }
        &:last-child{
          border-right: 0;
        }
        &:hover {
          color: var(--ot-primary);
        }
    }

    &.active {
      background: var(--ot-primary);
        fill: #ffff;
    }

}

// Tab & grid Button
.tab-grid{
    display: flex;
    border: 1px solid var(--ot-primary-border);
    border-radius: 8px;
    width: 105px;
    height: 46px;
    border: 1px solid var(--ot-primary-border);
    @media #{$xs-to-md-max} {
        margin: 10px 0px;
        height: 38px;
    }
    button{
        width: 54px;
        height: 45px;
        background: none;
        color: var(--ot-primary-paragraph);
        padding: 6px;
        transition: 0.3s;
        font-size: 22px;
        cursor: pointer;
        border: 0;
        border-right: 1px solid var(--ot-primary-border);
        @media #{$xs-to-md-max} {
            height: 38px;
            line-height: 25px;
            font-size: 20px;
        }
        &:last-child{
          border-right: 0;
        }
        &:hover {
          color: var(--ot-primary);
        }
    }
    button.active {
        color: var(--ot-primary);
    }
}


.single-search-tag{
    font-size: 15px;
    line-height: 17px;
    text-transform: capitalize;
    color: var(--ot-primary-paragraph);
    border: 1px solid var(--ot-primary-border);
    padding: 0px 10px 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    margin: 6px 2px;
    display: inline-block;
    &:hover{
      color: var(--ot-primary);
    }
    i{
        font-size: 23px;
        border-left: 1px solid var(--ot-primary-border);
        top: 6px;
        position: relative;
        left: 6px;
    }
}


.grid-views{
    display: flex;
    align-items: center;
    flex-direction: row;
    @media #{$xs}{
      display:block;
    }
    .course-widget-img {
        max-width: 350px;
        margin-right: 20px;
        margin-bottom: 0;
        min-width: 350px;
        height: 275px;
        border-radius: 10px 10px 10px 10px;
        @media #{$sm}{
          max-width: 250px;
          min-width: 250px;
          margin-right: 11px;
          margin-bottom: 0px;
        }
        @media #{$xs}{
            max-width: unset;
            margin-right: 0px;
            margin-bottom: 10px;
            min-width: unset;
        }
    }
    .widget-mid {
      padding-left: 0;
        @media #{$xs}{
            padding-left: 15px;
        }
    }

    .widget-footer {
        border: 0;
        border-radius: 0;
        padding: 0;
        padding-top: 15px;
    }
}

// Clear
.clear-all-tag{
    .clear{
        font-size: 15px;
        line-height: 17px;
        text-transform: capitalize;
        color: var(--ot-primary-title);
        padding: 0px 10px 5px 10px;
        cursor: pointer;
        margin: 6px 2px;
        display: inline-block;
        text-decoration: underline;
        &:hover{
          color: var(--ot-primary);
        }
    }
}

